.menu
  //display: none
  &.show
    //display: block
  .list
    background: white
    .item
      color: rgba(0,0,0,.87)

  &.floating
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden
    opacity: 0
    transition: 0.2s


