.material-slider {
  display: block;
  position: relative;
  padding-top: 0;
  padding-bottom: 16px;
  margin-right: 8px;
  vertical-align: top;
  .display(flex);
  .flex-direction(column);
  .flex-wrap(nowrap);
  //overflow: hidden;
  //border-bottom: 1px solid rgba(100, 100, 100, 0.1);
  input {
    position: absolute;
    top: -1000px;
  }
  .slider-label {
    .flex(1);
    .order(1);
    cursor: default;
    padding: 16px 0;
    margin: 0px 2px 0px 0;
    overflow: hidden;
  }
  .slider-control {
    .order(3);
    position: relative;
    cursor: pointer;
    width: 100%;
    padding: 7px;
    .slider-track {
      z-index: 1;
      cursor: pointer;
      position: relative;
      display: block;
      height: 4px;
      padding: 0;
      background-color: rgba(34, 31, 31, .26);
      border-radius: 7px;
      .transition(.3s);
    }
    .slider-track-value {
      position: absolute;
      width: 0;
      top: 7px;
      z-index: 2;
      cursor: pointer;
      display: block;
      height: 4px;
      padding: 0;
      background-color: #4054B2;
      border-radius: 7px;
    }
    .slider-vindicator {
      text-align: center;
      font-size: 9px;
      color: white;
      display: none;
      position: absolute;
      width: 32px;
      height: 32px;
      top: -37px;
      z-index: 2;
      cursor: pointer;
      margin: auto;
      padding: 12px 0;
      background-color: #4054B2;
      border-radius: 50%;
    }
    .slider-knob {
      z-index: 3;
      cursor: pointer;
      position: absolute;
      top: 2px;
      left: 0px;
      display: block;
      height: 14px;
      width: 14px;
      margin: 0;
      border-radius: 50%;
      background-color: white;
      border: 2px solid rgba(241, 241, 241, 100);
      //box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
      &.notnull {
        background-color: #4054B2;
        border: 2px solid #4054B2;
      }
      &:active {
        background-color: #4054B2;
        border: 2px solid #4054B2;
      }
      &:hover {
        // background-color: #4054B2;
        // border: 2px solid #4054B2;
      }
    }
    &.dragging {
      .slider-vindicator {
        display: block;
      }
      .slider-knob {
        // height: 18px;
        // width: 18px;
        background-color: #4054B2;
      }
    }
  }
  &.is-checked {
    .slider-track {
      background-color: rgba(0, 150, 136, .5);
      .slider-knob {
        background-color: rgba(0, 150, 136, 1);
        left: 15px;
      }
    }
  }
  &.is-disabled {
    .slider-label {
      opacity: .5;
    }
    .slider-control {
      .order(3);
      cursor: pointer;
      width: 48px;
      height: 48px;
      padding: 17px 7px;
      border-radius: 50%;
      .transition(.3s);
      &:active {
        background-color: rgba(34, 31, 31, .05);
        .transition(.1s);
      }
      .slider-track {
        background-color: rgba(34, 31, 31, .1);
        .slider-knob {
          background-color: rgba(241, 241, 241, 1);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 0 1px 0 rgba(0, 0, 0, 0.06);
        }
      }
    }
  }
}
