@use "../variables" as *;

.material-textfield {
  display: block;
  position: relative;
  margin-right: 16px;
  padding-top: 8px;
  margin-bottom: 16px;
  vertical-align: top;
  .textfield-label {
    transition: 0.2s;
    color: rgba(0, 0, 0, 0.3);
    position: absolute;
    font-size: 0.7em;
    top: -2px;
  }

  .textfield-underline {
    position: absolute;
    opacity: 0;
    left: 50%;
    bottom: 0px;
    height: 2px;
    width: 2px;
    background-color: #4891f4;
    transition: 0.1s;
  }

  &.textfield-error {
    .textfield-label {
      color: #f44336;
      color: #d6392c;
    }

    textarea,
    input {
      border-bottom: 1px solid #f44336;
    }
  }

  &.hide {
    display: none;
  }
}

// states
.material-textfield {
  &.is-focused {
    .textfield-label {
      transition: 0.2s;
    }

    .textfield-underline {
      opacity: 1;
      display: block;
      width: 100%;
      left: 0;
      transition: 0.1s;
      background-color: $primary-color;
    }
  }

  &.is-empty {
    .textfield-label {
      transition: 0.2s;
      pointer-events: none;
      position: absolute;
      top: 20px;
      left: 0;
      display: block;
      font-size: 1em;
      padding: 0 2px 0 0;
    }

    &.is-focused {
      .textfield-label {
        transition: 0.2s;
        font-size: 0.7em;
        top: -2px;
      }
    }

    .textfield-input {
      float: none;
      width: 100%;
      border: none;
      margin: 0;
      background-color: transparent;
      border-radius: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
  }

  .textfield-input {
    float: none;
    width: 100%;
    padding: 12px 8px 8px 0;
    border: none;
    margin: 0;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    &:hover {
      cursor: default;
    }

    &:focus {
      cursor: text;
    }
  }

  input[readonly],
  textarea[readonly] {
    border-bottom: 1px solid transparent;

    &:hover {
      cursor: default;
    }

    &:focus,
    &:active {
      cursor: text;
      border-bottom: 1px solid transparent !important;
    }
  }
}

.dark-mode {
  .material-textfield {
    .textfield-label {
      transition: 0.2s;
      color: rgba(255, 255, 255, 0.3);
    }

    .textfield-input {
      border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    }
  }
}
