// color schema
@default-color-text: rgba(0, 0, 0, 0.87);
@primary-color: #3f51b5;
@primary-color-text: rgba(255, 255, 255, 0.95);
@accent-color: #1A9989;
@accent-color-text: rgba(255, 255, 255, 0.95);
// on dark theme
@default-color-text-dark: rgba(255, 255, 255, 0.95);
@primary-color-dark: #3f51b5;
@primary-color-text-dark: rgba(255, 255, 255, 0.95);
@accent-color-dark: #8DE157;
@accent-color-text-dark: rgba(255, 255, 255, 0.95);
// old def
@primary-bg-color: #4891F4; // rgba(67, 76, 89, 1);
@primary-font-color: rgba(255, 255, 255, 0.95);
@accent-bg-color: #8DE157; // rgba(67, 76, 89, 1);
@accent-font-color: rgba(255, 255, 255, 0.95);