/*
  Minimal.less
    Main Less Files of Skin Minimal
*/

// Default
// Default values
@font-size: 15px;
@color: rgba(255, 255, 255, 0.5);
@background: rgba(135, 135, 135, .1);
@font-family: Roboto,
Helvetica Neue,
Helvetica,
Arial,
sans-serif;
@icon-size: 1.7em;
@icon-color: #999;
@item-font-size: 1em;
@item-font-color: rgb(51, 51, 51); //rgba(0,0,0,.9);
@button-font-family: @font-family;
@primary-bg-color: #4891F4; // rgba(67, 76, 89, 1);
@dark-bg-color: rgb(51, 51, 51);
@primary-font-color: rgba(255, 255, 255, 0.95);
@accent-bg-color: #8DE157; // rgba(67, 76, 89, 1);
@accent-font-color: rgba(255, 255, 255, 0.95);


// HTML Tags General Defintion
html {
  font-size: 100%;
  line-height: 1.15;
  width: 100%;
  height: 100%;
}

body {
  color: rgba(0, 0, 0, 0.67);
  font-family: Roboto, arial, serif;
  font-size: 100%;
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  user-select: none;
}



input,
textarea,
keygen,
select,
button {
  font-size: 1em;
  font-family: Roboto, arial, serif;
  color: rgb(51, 51, 51);
}

p {
  line-height: 20px;
  padding-top: 6px;
  margin-bottom: 14px;
  letter-spacing: 0;
  font-weight: 400;
}

// get rid of outline
select,
input,
textarea,
button {
  .enableselect;
  outline: none;
  &:hover {
    outline: none;
  }
}

// set all container boder-box
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// clear fix
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}









































/*
@font-face {
    font-family: 'OpenSansRegular';
    src: url('Open_Sans/OpenSans-Regular.eot');
    src: url('Open_Sans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('Open_Sans/OpenSans-Regular.woff') format('woff'),
         url('Open_Sans/OpenSans-Regular.ttf') format('truetype'),
         url('Open_Sans/OpenSans-Regular.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'OpenSansSemibold';
    src: url('OpenSans-Semibold.eot');
    src: url('OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Semibold.woff') format('woff'),
         url('OpenSans-Semibold.ttf') format('truetype'),
         url('OpenSans-Semibold.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/

.dark-theme {
  background-color: @dark-bg-color;
  color: rgba(255, 255, 255, 0.95);
}

// Parametric Mixins
.border-radius (@radius) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}

.gradient (@start, @end) {
  background-image: -moz-linear-gradient(top, @start, @end);
  background-image: -webkit-gradient(linear, left top, left bottom, from(@start), to(@end)); //filter: progid: DXImageTransform.Microsoft.Gradient(startColorStr=@start, endColorStr=@end);
}

.border-radius (@radius) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}

.box-shadow (@p) {}

a {
  color: rgba(0, 0, 0, .7);
}

// Enable/disable select capabilities
.disableselect {
  //-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.enableselect {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
}

// disable everything
.material-layout {
  .disableselect;
}

// except input and textarea
input,
textarea {
  .enableselect;
}